@import "normalize";
$whiteish: #ddd;
$dark-blue: #1d2731;
$mid-blue: #0b3C5d;
$light-blue: #328cc1;
$yellow: #ecd018;
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  color: $whiteish;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

p {
  line-height: 1.6em;
}

nav {
  background: $dark-blue;
  font-size: 1.3em;
  border-bottom: 2px solid $yellow;
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1;
    }
  }
  a {
    text-decoration: none;
    text-align: center;
    color: $whiteish;
    display: block;
    padding: 4px 15px;
    transition: background 0.6s ease;
    &:hover {
      background: #444;
    }
  }
  ul.contact {
    a {
      color: ($yellow - 100);
    }
    .contact-text {
      display: none;
    }
  }
  @media screen and (min-width: 535px) {
    display: flex;
    justify-content: space-around;
    a {
      padding: 10px 20px;
    }
    ul.contact {
      order: 1;
    }
  }
}

.welcome-section {
  background: $light-blue;
  font-size: 2.5em;
  padding: 80px 0;
  h1 {
    margin: 0;
    padding-bottom: 20px;
    letter-spacing: 4px;
  }
  code {
    padding: 15px;
  }
  /* Keep text on one line, on smaller screens */
  @media screen and (max-width: 630px) {
    font-size: 1.8em;
    h1 {
      padding-bottom: 20px;
      letter-spacing: normal;
    }
  }
  @media screen and (max-width: 500px) {
    padding: 60px;
    font-size: 1.3em;
    code {
      padding: 5px;
    }
  }
  @media screen and (max-width: 363px) {
    code {
      display: none;
    }
  }
}

.about {
  background: $mid-blue;
  padding: 40px 0;
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  p {
    font-size: 1.2em;
    padding: 10px 15px;
  }
  a {
    color: $whiteish;
  }
  .fa-handshake-o {
    font-size: 3em;
  }
  .greeting {
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 10px;
    .meet-you {
      color: $yellow;
      @media screen and (max-width: 500px) {
        display: block;
      }
    }
  }
}

.projects {
  background: $dark-blue;
  padding-bottom: 50px;
  h2 {
    padding: 25px;
    display: block;
    font-weight: normal;
    font-size: 2.2em;
    @media screen and (max-width: 900px) {
      padding-bottom: 5px;
    }
  }
  .container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .project {
    background: $light-blue;
    border: 3px solid $mid-blue;
    flex-basis: 400px;
    height: 260px;
    margin: 20px 20px;
    border-radius: 10px;
    transition-duration: 0.25s;
    a,
    h3 {
      text-decoration: none;
      color: $whiteish;
      font-size: 1.1em;
      font-weight: normal;
    }
    img {
      padding: 20px 0;
      max-width: 80%;
      max-height: 80%;
    }
    .fa {
      color: $yellow;
      padding-left: 10px;
    }
    &:hover {
      text-decoration: underline;
      transform: scale(1.1);
      transition-duration: 0.25s;
    }
  }
}