body {
    font-family: Montserrat, sans-serif;
}

#main {
    width: 95%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    background-color: #f3f3f3;
}

header {
    padding-top: 2.0em;
    padding-bottom: 2.0em;
}

article {
    line-height: 1.6em;
    max-width: 80%;
    margin: auto;
    text-align: left;
}

img {
    border-radius: 10px;
    max-width: 100%;
}

figcaption {
    padding-top: 10px;
}

#tribute-info h2 {
    padding-top: 15px;
}

#read-more {
    font-size: 1.5em;
    padding-bottom: 10px;
}