/* 

--- Global ---

*/
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: #fff;
    background: #888;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

p {
    line-height: 1.6em;
}

/* 

--- Navbar ---

*/

nav {
    background: #1D2731;
    font-size: 1.3em;
    border-bottom: 2px solid #D9B310;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block; 
    padding: 4px 15px;
}

nav a:hover {
     background: #444; 
}

/* Flex styles */
@media screen and (min-width: 420px) {
    nav a {
        padding: 8px 15px;
    }
    nav ul {
        display: flex;
    }
    nav li {
        flex: 1 1 0;
    }
    nav li .contact-text {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-around;
    }
}

/* 

--- Welcome section ---

*/
.welcome-section {
    background: #328CC1;
    font-size: 2.5em;
    padding: 100px 0;
}

.welcome-section h1 {
    padding-bottom: 20px;
}

.welcome-section code {
    padding: 15px;
}

/* Keep text on one line, on smaller screens */
@media screen and (max-width: 630px) {
    .welcome-section {
        font-size: 1.8em;
    }
}
@media screen and (max-width: 500px) {
    .welcome-section {
        font-size: 1.3em;
    }
    .welcome-section code {
        padding: 5px;
    }
}

/*

--- About section ---

*/
.about {
    background: #0B3C5D;
    padding: 80px 0;
}

.about .container {
    max-width: 1000px;
    margin: 0 auto;
}

.about p {
    font-size: 1.2em;
    padding: 10px 15px;
}

.about .fa-handshake-o {
    font-size: 3em;
}

.about .greeting {
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.about .greeting .meet-you {
    color: #D9B310;
}

.about a {
    color: #fff;
}

@media screen and (max-width: 500px) {
    .about .meet-you {
        display: block;
    }
}

/*

--- Projects section ---

*/
.projects {
    background: #1D2731;;
    padding-bottom: 50px;
}

.projects .container {
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.projects .project {
    background: #328CC1;
    border: 3px solid #0B3C5D;
    flex-basis: 400px;
    height: 260px;
    margin: 20px 20px;
    border-radius: 10px;
}

 .projects h2 {
    padding: 30px;
    display: block;
    font-weight: normal;
    font-size: 2em;
} 

.project a,
.project h3 {
    text-decoration: none; 
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
}

.project a:hover,
.project h3:hover {
    text-decoration: underline;
}

.project .fa {
    color: #D9B310;
}

.project .fa {
    padding-left: 10px;
}

.project img {
    padding: 20px 0;
    max-width: 80%;
    max-height: 80%; 
}
