body {
    font: 15px/1.5 Monserrat, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    padding-top: 70px;
}

/* On a tiny screen, increase padding to accommodate taller navbar */
@media (max-width:749px) {
    body {
        padding-top: 120px;
    }
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

input[type="submit"],
button {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

/* Header */
header {
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

    /* Header always on top */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding img {
    margin: 0;
    height: 40px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

header #branding h1 {
    display: inline;
    padding-left: 10px;
    text-transform: uppercase;
}

header nav {
    float: right;
    margin-top: 20px;
}

header a:hover {
    color: #e8491d;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    text-align: center;
    color: #fff;
    position: relative; 
}

#showcase h1 {
    font-size: 50px;
    z-index: 1;
    position: relative;   
}

#showcase p {
    font-size: 30px;
    position: relative;
    z-index: 1;
}

#showcase img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    opacity: 0.7; 
}

/* On tiny screens, get rid of the photo background since it looks weird */
@media(max-width: 950px) {
    #showcase {
        background: lightskyblue;
    }

    #showcase img {
        display: none;
    }
}

/* Features */
#features {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;    
}

#features .feature {
    border: 3px solid #e8491d;
    border-radius: 15px;
    color: #35424a;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#features .feature i.fa {
    font-size: 5em;
}

@media(min-width: 1080px) {
    #features {
        display: flex;
    }

    #features .feature {
        flex: 1;
        margin-left: 1%;
        margin-right: 1%;
    }
}

/* Video */
#video {
    width: 420px;
    height: 315px;   
    display: block; 
    margin: 35px auto 35px auto; 
}

@media(max-width: 500px) {
    #video {
        width: 95%;
        height: auto;
    }
}

/* Products */
#products {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#products .product {
    border: 3px solid #e8491d;
    border-radius: 15px;
    color: #35424a;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#products .product img {
     width: 100px; 
}

#products .product .discounted {
    text-decoration: line-through;
}

#products .product .special-price {
    color: darkgreen;
    font-weight: bold;
    text-decoration: underline;
}

@media(min-width: 1080px) {
    #products {
        display: flex;
    }

    #products .product {
        flex: 1;
        margin-left: 1%;
        margin-right: 1%;
    }
}

/* Signup */
#signup {
    padding: 15px;
    color: #fff;
    background: #35424a;
}

#signup h2 {
    float: left;
}

#signup form {
    float: right;
    margin-top: 20px;
}

#signup input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Footer  */
footer {
    background: #e8491d;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer a {
    font-weight: bold;
    color: #35424a;
}